video
	padding .4em
	width 16em
	height auto

#video_medio
	border 1px solid gray

// #reproductor
	// text-align center
	// -moz-border-radius 5px
	// -webkit-border-radius 5px
	// border-radius 5px
	// height 1em auto
	// width 17em

// #botones
#tiempos_video
	background orange
	// margin 40px
	border 2px solid black
	display block
	// float left
	
#reproductor_nav
	margin 5px
	border 0px solid black

#reproductor_video_avance
	margin-top 5px
	// margin-left 15px
	float left
	&::after
		content " /"
	
#reproductor_video_duracion
	margin-top 5px
	float left
	
#barra
	position relative
	background white
	height .7em
	width 16em
	border-radius .4em

#progreso
	background rgba(0,0,150,0.4)
	height 10px
	// position absolute
	width 0px
	border-radius 5px

#reproducir
	border-radius 25px
	padding 5px
	width 120px
	font-weight bold
	float left
	
// #duracion
// 	float right
// 	padding-top 10px

//	=================================================================
//	Estilos para reproductor de audio con componentes HTML5 y CSS3
//	=================================================================
#reproductor_audio, #reproductor_audio_nav, #reproductor_audio_nav
	margin 0
	padding 0

#reproductor_audio_duracion, #reproductor_audio_avance
	display inline-block
	
#reproductor_audio
	display -webkit-inline-block
	display -moz-inline-block
	
#reproductor_audio_nav
	border 0px solid black

#reproductor_audio_nav
	padding 5px
	width 200px
	margin-top 15px
	float left
	
#reproductor_audio_duracion, #reproductor_audio_avance
	margin-top 19px
	
#reproductor_audio_avance::after
	content "/"

#progreso_audio
	background #EEE
	border-radius 5px
	height 10px
	padding 5px
	width 0px
	
#reproductor_audio_barra
	background #555
	border-radius 10px
	height 14px
	padding 2px

#reproductor_audio_reproducir
	background #DFAD62
	border-radius 25px
	padding 5px
	margin-top 12px
	width 90px
	font-weight bold
	float left

