/*
*	======================================================================
*	Definición de la paleta de colores
*	======================================================================
*/

verde_fondo = #D3E4D3
amarillo_fondo = #EAE3C1
rojo_fondo = #CA6F56
color_cabecera = #213857
color_pie_pagina = #697880
color_texto_cabecera = #B9CAD1

/*
*	======================================================================
*/

*
	margin 0
	padding 0
	font bold 24px verdana, sans-serif
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

header, nav, section, article, figure, figcaption, address, aside, footer
	display block

a
	display block
	text-decoration none
	text-transform uppercase
	
h1
	font-family 'Josefin Sans', sans-serif;

h2
	font bold 1em verdana, sans-serif
h3
	padding .5em
	font bold .8em verdana, sans-serif	
p, span
	font normal 0.75em verdana, sans-serif

em
	font-size .75em
article
	background #55F
	display inline-block
	border 2px solid gray
	margin-bottom 1rem
	text-align left

article:nth-child(odd)
	background #E5E5E5
	& footer
		background #A7CEDA
		padding 0.5rem 1.4rem
	
article:nth-child(even)
	background #A7CEDA
	& footer
		background #E5E5E5
		padding 0.5rem 1.4rem		

aside
	border 2px solid red
	background #CCC
	float left
	margin-top 1rem
	margin-left 1rem
	padding 10px

body
	background #F4F5F7
	text-align center

nav
	border 1px solid #ABA9A9
	
p
	margin 0

section
	text-align center
	margin 1em

time
	color #999
	
figcaption
	font italic 14px verdana, sans-serif
	
.codigo span, em
	font-size .75em
	
.resultado 
	text-align center
	& p
		padding .5em
	& span
		padding .5em
	

#cabecera
	text-align center
	background color_cabecera
	color color_texto_cabecera
	padding 20px
	& h1
		font-size 1.5em

#contenedor_principal 
	text-align center
	
#menu
	margin 0
	padding 0
	background #CCC
	& li
		list-style none
		border-bottom 1px solid black		
		padding .1em
		padding-left 1em
		text-align center
		& a
			font bold 1em 'Josefin Sans', sans-serif
	& ul li:hover
		background #C2DED0
	

#pie
	background color_pie_pagina
	border-top 2px solid #000
	color color_texto_cabecera
	clear both
	padding 20px
	text-align center
	& small
		font bold 14px 'Josefin Sans', cursive
	& p
		font 18px 'Josefin Sans', cursive
	& a::before, a::after
		content " - "
#pie a
	color white
		
.post
	padding 1.4rem

/*
*	=========================================================================
*	Estilos para la página de "propiedades_css.html"
*
*	=========================================================================
*/
#recuadro
	// Color de fuente con gradiente
	background -webkit-radial-gradient(center, ellipse, #FFFFFF 20%,#006699 150%)
	background -moz-radial-gradient(center, ellipse, #FFFFFF 20%,#006699 150%)
	background -ms-radial-gradient(center, ellipse, #FFFFFF 20%,#006699 150%)
	// background linear-gradient(top,#FFFFFF,#006699)
	// background #DDD
	width 15em
	margin 1em auto
	padding 1em
	text-align center
	border 1px solid #999
	// Border redondeado
	-moz-border-radius 20px
	-webkit-border-radius 20px / 20px
	-border-radius 20px / 20px
	-ms-border-radius 20px / 20px
	// // Sombras en las cajas
	-moz-box-shadow rgb(150,150,150) 5px 5px 10px inset
	-webkitbox-shadow rgb(150,150,150) 5px 5px 10px inset
	-ms-shadow rgb(150,150,150) 5px 5px 10px inset
	box-shadow rgb(150,150,150) 5px 5px 10px inset
	// Para un segundo borde.. borde puntedado
	// outline 2px dashed #000099
	// outline-offset 15px
	// Transforma... amplia el div, article u otra caja
	-moz-transition -moz-transform 1s ease-in-out 0.5s
	-webkit-transition -webkit-transform 1s ease-in-out 0.5s
	-ms-transition -ms-transform 1s ease-in-out 0.5s

#recuadro:hover
	-moz-transform rotate(360deg)
	-webkit-transform rotate(360deg)
	-ms-transform rotate(360deg)
	
#titulo
	font bold 36px verdana, sans-serif
	// text-shadow rgb(150,150,150) 3px 3px 5px
	text-shadow rgba(0,0,0, 0.5) 3px 3px 5px
	color hsla(10, 100%, 50%, 0.8)

.codigo
	padding .5em

/*	=================================================================================
*			Estilos para página de vídeo
*	=================================================================================
*/

video
	padding .4em
	width 16em
	height auto

#video_medio
	border-radius 5px
	border 1px solid gray

#tiempos_video
	display inline-block
	border 1px solid black
	background #F18512
	border-radius 20px
	padding 4px

#reproductor_nav
	margin 5px
	border 0px solid black

#reproductor_video_avance
	margin-top 5px
	float left
	&::after
		content " /"
	
#reproductor_video_duracion
	margin-top 5px
	float left

#barra
	position relative
	background white
	height .7em
	width 16em
	border-radius .4em
	border 1px solid black

#progreso
	background rgba(0,0,150,0.4)
	height 10px
	width 0px
	border-radius 5px

#reproducir
	border-radius 25px
	padding 5px
	width 120px
	font-weight bold
	float left


/*	=================================================================
*	Estilos para reproductor de audio con componentes HTML5 y CSS3
*	=================================================================
*/
// #reproductor_audio, #reproductor_audio_nav, #reproductor_audio_nav
// 	margin 0
// 	padding 0

// #reproductor_audio_duracion, #reproductor_audio_avance
// 	display inline-block
	
// #reproductor_audio
// 	display -webkit-inline-block
// 	display -moz-inline-block
	
// #reproductor_audio_nav
// 	border 0px solid black

// #reproductor_audio_nav
// 	padding 5px
// 	width 200px
// 	margin-top 15px
// 	float left
	
// #reproductor_audio_duracion, #reproductor_audio_avance
// 	margin-top 19px
	
// #reproductor_audio_avance::after
// 	content "/"

// #progreso_audio
// 	background #EEE
// 	border-radius 5px
// 	height 10px
// 	padding 5px
// 	width 0px
	
// #reproductor_audio_barra
// 	background #555
// 	border-radius 10px
// 	height 14px
// 	padding 2px

// #reproductor_audio_reproducir
// 	background #DFAD62
// 	border-radius 25px
// 	padding 5px
// 	margin-top 12px
// 	width 90px
// 	font-weight bold
// 	float left

// Mobile (portrait)
@media only screen and (max-width: 767px)
	*
		font-size 16px
	body
		background amarillo_fondo
	article
		width 17em
	.codigo
		border-top 1px solid black

// Mobile (landscape)
@media only screen and (min-width: 480px) and (max-width: 767px)
	*
		font-size 16px		
	body
		background rojo_fondo
	#cabecera h1
		font-size 24px
	article
		width 38em
	#menu li
		display inline-block
		font .9em 'Josefin Sans', cursive
		list-style none	
		margin-bottom .1em
		margin-top .1em
		padding-left .4em
		padding-right .4em
		background #DDD
		border-radius 20px
		border 1px solid #000

// Tablet (portrait)
@media only screen and (min-width: 768px)
	*
		font-size 16px
	body
		background verde_fondo
	#menu li
		background #DDD
		border 1px solid #000
		border-radius 20px
		display inline-block
		list-style none	
		margin-bottom .2em
		margin-top .2em
		padding-left .8em
		padding-right .8em
	article
		width 40em

