article
	padding 1rem
	border 1px solid black
	width auto
	// display -webkit-inline-box
	// display flex
	
body
	text-align center

h3
	color #55337D

h4
	padding 0.4rem
	margin-bottom 2rem
	border 1px solid black
	background #E8BC8C
	
span
	font .7rem verdana, sans-serif

section
	margin-top 1rem
	width 942px

li
	list-style none
	
#recuadro
	// display block
	// Color de fuente con gradiente
	background -webkit-radial-gradient(center, ellipse, #FFFFFF 20%,#006699 150%)
	background -moz-radial-gradient(center, ellipse, #FFFFFF 20%,#006699 150%)
	background -ms-radial-gradient(center, ellipse, #FFFFFF 20%,#006699 150%)
	// background linear-gradient(top,#FFFFFF,#006699)
	// background #DDD
	width 300px
	margin 50px auto
	padding 15px
	text-align center
	border 1px solid #999
	// Border redondeado
	-moz-border-radius 20px
	-webkit-border-radius 20px / 20px
	-border-radius 20px / 20px
	-ms-border-radius 20px / 20px
	// // Sombras en las cajas
	-moz-box-shadow rgb(150,150,150) 5px 5px 10px inset
	-webkitbox-shadow rgb(150,150,150) 5px 5px 10px inset
	-ms-shadow rgb(150,150,150) 5px 5px 10px inset
	box-shadow rgb(150,150,150) 5px 5px 10px inset
	// Para un segundo borde
	// outline 2px dashed #000099
	// outline-offset 15px
	// Transforma... amplia el div, article u otra caja
	-moz-transition -moz-transform 1s ease-in-out 0.5s
	-webkit-transition -webkit-transform 1s ease-in-out 0.5s
	-ms-transition -ms-transform 1s ease-in-out 0.5s

#recuadro:hover
	-moz-transform rotate(360deg)
	-webkit-transform rotate(360deg)
	-ms-transform rotate(360deg)
	
#titulo
	font bold 36px verdana, sans-serif
	// text-shadow rgb(150,150,150) 3px 3px 5px
	text-shadow rgba(0,0,0, 0.5) 3px 3px 5px
	color hsla(10, 100%, 50%, 0.8)

